{% extends "base.html" %}
{% load static %}
{% load custom_templatetags %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static '/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">


{% endblock %}



{% block content_header %}
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}


{% block content %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-12">

            {% if request.user|has_group:"Administración" %}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-circle"></i>
                    Bienvenido
                </h3>
              </div>
              <div class="card-body">
                <p>Este sitio está destinado para usuarios clientes y gestores, usted está logueado con un usuario Administrador, puede redirigirse al sitio de administración en el siguiente enlace</p>
                <a class="btn btn-success btn-block" href="/admin">Ir al sitio de Administración</a>
              </div>
            </div>
            {% endif %} 

            {% if request.user|has_group:"Gestores" %} 
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-motorcycle"></i>
                    Pendientes
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="btn btn-danger btn-sm mx-1" href="{% url 'reporte_gestor' request.user.id %}"> <i class="fas fa-file-pdf"></i> </a>
                    </li>
                    <li class="nav-item">
                      <button type="button" class="btn btn-success btn-sm" onclick="table.ajax.reload();"><i class="fas fa-sync-alt"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <table id="datatables" class="jtabla table table-striped" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Cliente</th>
                      <th>Paquete</th>
                      <th>Origen</th>
                      <th>Destino</th>
                      <th>Retirar</th>
                      <th>Entregar</th>
                      <th>Comisión</th>
                      <th>Cobrar</th>
                      <th>Estado</th>
                      <th>Acciones<th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}

            {% if request.user|has_group:"Clientes" %} 
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-motorcycle"></i>
                    Pendientes
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <button type="button" class="btn btn-success btn-sm" onclick="table.ajax.reload();"><i class="fas fa-sync-alt"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">                
                <table id="datatables" class="jtabla table table-striped" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Paquete</th>
                      <th>Gestor</th>
                      <th>Destino</th>
                      <th>Entregar</th>
                      <th>Retirar</th>
                      <th>Importe</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}

          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}

{% block extrafooter %}
  <script type="text/javascript">
      function update_delivery(id, state, received){
        console.log(`id=${id} state=${state} received=${received}`);
        $("#current_received_id").val(received);
        $("#delivery_id").val(id);
        $("#state").val(state);
        $("#received").val(0)
        $("#comment").val("")
        $('#EditDelivery').modal('show')
      }
  </script>

<script src="{% static '/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static '/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  {% if request.user|has_group:"Gestores" %} 
  <script src="{% static '/js/datatables_pendientes_gestores.js' %}"></script>

  <script type="text/javascript">
      $("#editDeliveryForm").submit(function(event) {
        event.preventDefault();
        const $csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        let delivery_id = $("#delivery_id").val();

        var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
        });

        $.ajax({
            url: `/api/deliveries/${delivery_id}/`,
            method:'PATCH',
            headers:{
                "X-CSRFToken": $csrf_token
            },
            data: {
              'received': parseInt($("#received").val()) + parseInt($("#current_received_id").val()),
              'state':    parseInt($("#state").val()),
              'comment':  $("#comment").val()
            }
        })
        .done(function(response){
          Toast.fire({
            icon: 'success',
            title: 'La entrega fue actualizada'
          })
          $('#EditDelivery').modal('hide');
          table.ajax.reload();
        })
        .fail(function(xhr, status, error) {
          console.log(error);
          Toast.fire({
            icon: 'error',
            title: 'Error: revise los campos introducidos'
          })
        });
      });
  </script>

  {% endif%}

  {% if request.user|has_group:"Clientes" %} 
  <script src="{% static '/js/datatables_pendientes_clientes.js' %}"></script>

  {% endif%}  
{% endblock %}
