      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a class="dropdown-item" data-toggle="modal" data-target="#EditProfileModal" href="javascript:void(0)">
            <i class="fas fa-user mr-2"></i> Mi perfil
          </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#ChangePasswordModal" href="javascript:void(0)">
            <i class="fas fa-key mr-2"></i> Cambiar contraseña
          </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#LogoutModal" href="javascript:void(0)">
            <i class="fas fa-power-off mr-2"></i> Cerrar sesión
          </a>

        </div>
      </li>