{% load static %}

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'index' %}" class="brand-link">
      <img src="{% static 'images/icono160x160.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AEDO Entregas</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img id="user_profile_photo" src="{{ user.photo.url }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a id="user_profile_name" href="{% url 'index' %}" class="d-block">{{ user.get_short_name }}</a>
        </div>
      </div>

      {# <!-- SidebarSearch Form --> #}
      {# <div class="form-inline"> #}
      {#   <div class="input-group" data-widget="sidebar-search"> #}
      {#     <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"> #}
      {#     <div class="input-group-append"> #}
      {#       <button class="btn btn-sidebar"> #}
      {#         <i class="fas fa-search fa-fw"></i> #}
      {#       </button> #}
      {#     </div> #}
      {#   </div> #}
      {# </div> #}

      {% include 'sidebar_menu.html' %}
    </div>
    <!-- /.sidebar -->
  </aside>