{% load custom_templatetags %}


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'delivery' %}" class="nav-link">
              <i class="nav-icon fas fa-motorcycle"></i>
              <p>
                Entregas
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'price' %}" class="nav-link">
              <i class="nav-icon fas fa-money-bill-alt"></i>
              <p>
                Precios
              </p>
            </a>
          </li>  


          <li class="nav-item">
            <a href="{% url 'calendar' %}" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                Calendario
              </p>
            </a>
          </li>          

        </ul>
      </nav>
      <!-- /.sidebar-menu -->