{% extends "base.html" %}
{% load static %}
{% load custom_templatetags %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static '/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}



{% block content_header %}
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Entregas</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Entregas</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}


{% block content %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-motorcycle"></i>
                  Entregas
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    {% if request.user|has_group:"Gestores" %}
                    <li class="nav-item">
                      <a class="btn btn-danger btn-sm mx-1" href="{% url 'reporte_gestor' request.user.id %}"> <i class="fas fa-file-pdf"></i> </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                      <button type="button" class="btn btn-success btn-sm" onclick="table.ajax.reload();"><i class="fas fa-sync-alt"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">


                {% if request.user|has_group:"Clientes" %} 
                    <table id="datatables" class="jtabla table table-striped" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Paquete</th>
                          <th>Gestor</th>
                          <th>Destino</th>
                          <th>Entregar</th>
                          <th>Retirar</th>
                          <th>Importe</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>

                        </tr>
                      </tbody>
                    </table>
                {% endif %}

                {% if request.user|has_group:"Gestores" %} 
                    <table id="datatables" class="jtabla table table-striped" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Cliente</th>
                          <th>Paquete</th>
                          <th>Origen</th>
                          <th>Destino</th>
                          <th>Retirar</th>
                          <th>Entregar</th>
                          <th>Comisión</th>
                          <th>Cobrar</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>

                        </tr>
                      </tbody>
                    </table>
                {% endif %}

              </div>
            </div>

          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
{% endblock %}

{% block extrafooter %}
<script type="text/javascript">
    function vote(id, score, comment2){
      console.log(`id=${id} score=${score} comment2=${comment2}`);
      $("#delivery_id").val(id);
      $("#score").val(score);
      $("#comment2").val(comment2)
      $('#VoteDelivery').modal('show')
    }
</script>


<script src="{% static '/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static '/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  {% if request.user|has_group:"Gestores" %} 
  <script src="{% static '/js/datatables_gestores.js' %}"></script>
  {% endif%}

  {% if request.user|has_group:"Clientes" %} 
  <script src="{% static '/js/datatables_clientes.js' %}"></script>

  <script type="text/javascript">
      $("#voteDeliveryForm").submit(function(event) {
        event.preventDefault();
        const $csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        let delivery_id = $("#delivery_id").val();

        var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
        });

        $.ajax({
            url: `/api/vote/${delivery_id}/`,
            method:'PATCH',
            headers:{
                "X-CSRFToken": $csrf_token
            },
            data: {
              'id': parseInt(delivery_id),
              'score': parseInt($("#score").val()),
              'comment2':  $("#comment2").val()
            }
        })
        .done(function(response){
          Toast.fire({
            icon: 'success',
            title: 'Su calificación fue enviada'
          })
          $('#VoteDelivery').modal('hide');
          table.ajax.reload();
        })
        .fail(function(xhr, status, error) {
          console.log(error);
          Toast.fire({
            icon: 'error',
            title: 'Error: revise los campos introducidos'
          })
        });
      });
  </script>

  {% endif%}  
{% endblock %}
