    <!-- Editar perfil Modal -->

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Mi Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form id="profile-form">
              
              <div class="row">
                <div class="col-12">
                  <div id="upload-demo"></div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label for="photo">Foto</label>
                    <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" name="photo" id="photo" />
                  </div>
                </div>

              </div>
              
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="username">Apodo</label>
                    <input type="text" class="form-control form-control-sm" id="username" name="username" aria-describedby="usernameHelp" value="{{ user.username }}" required />
                    <small id="usernameHelp" class="form-text text-muted">Debe ser único.</small>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control form-control-sm" id="email" name="email" aria-describedby="emailHelp" value="{{ user.email }}" required />
                    <small id="emailHelp" class="form-text text-muted">Debe ser único.</small>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-6">

                  <div class="form-group">
                    <label for="first_name">Nombres</label>
                    <input type="text" class="form-control form-control-sm" id="first_name" name="first_name" value="{{ user.first_name }}" required />
                  </div>

                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="last_name">Apellidos</label>
                    <input type="text" class="form-control form-control-sm" id="last_name" name="last_name" value="{{ user.last_name }}" required />
                  </div>
                </div>
              </div>

              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-success" type="submit">Actualizar</button>

            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>





    <div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ProfileModalLabel">Editar perfil</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="profile-form">
              
              <div class="row">
                <div class="col-12">
                  <div id="upload-demo"></div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label for="photo">Foto</label>
                    <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" name="photo" id="photo" />
                  </div>
                </div>

              </div>
              
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="username">Apodo</label>
                    <input type="text" class="form-control form-control-sm" id="username" name="username" aria-describedby="usernameHelp" value="{{ user.username }}" required />
                    <small id="usernameHelp" class="form-text text-muted">Debe ser único.</small>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control form-control-sm" id="email" name="email" aria-describedby="emailHelp" value="{{ user.email }}" required />
                    <small id="emailHelp" class="form-text text-muted">Debe ser único.</small>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-6">

                  <div class="form-group">
                    <label for="first_name">Nombres</label>
                    <input type="text" class="form-control form-control-sm" id="first_name" name="first_name" value="{{ user.first_name }}" required />
                  </div>

                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="last_name">Apellidos</label>
                    <input type="text" class="form-control form-control-sm" id="last_name" name="last_name" value="{{ user.last_name }}" required />
                  </div>
                </div>
              </div>

              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-success" type="submit">Actualizar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
